## Application:
## Secrets
.env

## System Files:
## macOS
.DS_Store
.DS_Store?
*.swp

## Windows
Thumbs.db


## Node:
node_modules/
npm-debug.log
yarn-error.log

/dist/
/out/
/build/


## VSCode:
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
